body {
  background-color: #444;
  text-align: center;
}
#img_input
{
  width:90%;
  height:50px;
  font-size:25px;
  border-radius: 25px;
  padding:10px;
}
.item {
  display:inline;
  //padding:5;
  //border-radius:5px;
  //border:2px solid black;
  //float: left;
}
#out {
  height: 90%; 
  width: 100%; 
}
