<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="image_search.js"></script>
<script src="main.js"></script>
</head>
<body>
    <form method="GET" action="">
    Enter image url: <input type="text" name="query"><br>
    <input type="submit" value="Submit">
    </form>
    {% if results %}
        {% for key in results %}
            <a href="{{key}}">{{key}}</a>
            <ul>
            {% for img in results[key] %}
                <li><img src="{{img}}">{{img}}</li>
            {% end %}
            </ul>
        {% end %}
    {% end %}
</body>
</html>
