<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ImageBrowser</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <link rel="stylesheet" href="normalize.css" />
    <script src="static/js/modernizr.js"></script>
  </head>
  <body>
  <div class="fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">ImageBrowser</a></h1>
        </li>
      </ul>
      <ul class="medium-6 small-offset-2 columns">
      <li class="has-form">
      <div>
      <form method="GET" action="">
      <div class="row collapse">
        <div class="small-10 columns">          
          <input type="text" placeholder="Enter Url" name="query">
        </div>
        <div class="small-2 columns">
        <input type="submit" class="postfix small success button expand" value="Search">
        </div>
      </div>
      </form>
      </div>
    </li>      
   </ul>
    </nav>
  </div>
   {{results}}

    
    <script src="static/js/jquery.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="static/js/main.js"></script>
  </body>
</html>
